@page "/propietarios"

<PageTitle>Propietario</PageTitle>

@using PetServiceBlazor.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<div class="title">
    <div class="title_content">
        <h1>Propietarios</h1>
    </div>
    <div class="title_btn">
        <a href="/propietarios/add" class="btn btn-success">
            <i class="oi oi-plus"></i>
            Añadir
        </a>
    </div>
</div>

@if (propietarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var propietario in propietarios)
            {
                <tr>
                    <td>@propietario.Nombres</td>
                    <td>
                        <span class="icon">
                            <a href="/propietarios/update/@propietario.IdPropietario" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        <span class="icon">
                            <a href="/propietarios/delete/@propietario.IdPropietario" class="oi oi-trash" title="Borrar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Propietarios";
    private IList<Propietario>? propietarios;

    protected override async Task OnInitializedAsync()
    {
        propietarios = await http.GetFromJsonAsync<IList<Propietario>>(api);
    }
}
