@page "/usuarios/delete/{id:int}"

<PageTitle>Borrar iformación [@usuario?.Nombre] ?</PageTitle>
<h1>¿Esta seguro que desea borrar este registro "@usuario?.Nombre"?</h1>

<button @onclick="ConfirmDelete" class="btn btn-primary">Confirmar</button>
<a class="btn btn-danger" href="/usuarios">Cancelar</a>

@using PetServiceBlazor.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager NavigationManager

@code{
    [Parameter]
    public int id { get; set; }

    Usuario? usuario;

    protected override async Task OnInitializedAsync()
    {
        usuario = await http.GetFromJsonAsync<Usuario>($"api/Usuarios/{id}");
    }
    private async Task ConfirmDelete()
    {
        var response = await http.DeleteAsync($"api/Usuarios/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/usuarios");
        }
    }
}
